* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #111;
  line-height: 1.6;
}

/* HEADER */
.header {
  background: #000;
}

.nav {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 76px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px 40px;
}

.hero h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #444;
  margin-bottom: 25px;
}

/* BUTTON */
.btn-call {
  display: inline-block;
  padding: 22px 52px;
  background: linear-gradient(135deg, #cfcfcf, #8f8f8f);
  color: #000;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  text-decoration: none;
}

.btn-call.big {
  font-size: 1.2rem;
}

.hero-car {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.hero-car img {
    max-width: 900px;
    width: 100%;
    height: auto;
}


.presentation {
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
}

.presentation h2 {
    margin-bottom: 25px;
}

.presentation p {
    font-size: 1rem;
    line-height: 1.7;
    color: #444;
    margin-bottom: 15px;
}



/* SERVICES */
.services {
  padding: 60px 20px;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.services-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-card img {
  width: 100%;
  max-height: 140px;
  object-fit: contain;
  margin-bottom: 15px;
}

.service-card h3 {
  margin-bottom: 10px;
}

/* REVIEWS */
.reviews {
  background: #f6f6f6;
  padding: 60px 20px;
  text-align: center;
}

.reviews h2 {
  margin-bottom: 40px;
}

.review {
  max-width: 700px;
  margin: 0 auto 30px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  padding: 60px 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  background: #000;
  color: #aaa;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  @media (max-width: 600px) {
    .btn {
        width: 100%;
        max-width: 340px;
        justify-content: center;
       .Attach
        font-size: 22px;
        padding: 24px 0;
    }
}

}